//Playground B
.playground_b {
    width: 100vw;

    .object{
        width: 15vh;
        height: 15vh;
        background-color: #97198d;
        border-radius: 50%;
    }

    .first_zone{
        height: 100vh;
        background: #6de477;
    }

    .second_zone{
        height: 100vh;
        background: #3ba744;
    }
}
