$bg-light: #393958;
$bg: #32324e;
$bg-dark: #191938;
$light: #6a6aa0;
$dark: #000022;

$normal: 1900px;
$medium: 1650px;
$small: 1380px;
$tiny: 844px;
$phone: 430px;



body {
    color: white;
    overflow-x: hidden !important;
}

::-webkit-scrollbar {
    width: 0;
}

.particles_bg {
    position: absolute;
    height: 200vh;
    width: 100vw;
    z-index: 0;
}

.roller {
    max-width: 10vh;
    max-height: 10vh;
    background: linear-gradient(0deg, $light 0%, $bg 50%, $dark 100%);
    position: absolute;
    bottom: 0;
    filter: drop-shadow(0 0 1em #000022);
    border-radius: 100%;
    cursor: pointer;
}

.track {
    width: 100%;
}

.button {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    background: transparent;
    border: 3px $light solid;
    padding: 1em 3em;
    margin: 2vw 5vw;
    transition-duration: 0.5s;
    box-shadow: 0 0.5rem 1rem $bg-dark;
    cursor: pointer;
}

.button:hover {
    transform: translateY(-.3rem);
    background-color: rgba(106, 106, 160, .25);
    border: 3px #434374 solid;
}

.button:active {
    transition-duration: 0.1s !important;
    transform: translateY(-.1rem);
    box-shadow: 0 0.25rem 0.75rem $dark;
}

@media (max-width: $tiny) {
    .button {
        font-size: 1.25em;
    }
}

.head {
    height: 100vh;
    width: 100vw;

    .center_container {
        padding-top: 5vw;
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: bold;

        .animation_center {
            display: flex;
            justify-content: center;
            align-items: center;
            transform: translateY(-2.25vw);

            .animation_item {
                font-size: 7vw;
                position: absolute;
                white-space: nowrap;
            }

            @media (max-width: $tiny) {
                .animation_item {
                    font-size: 2.5em;
                }
            }
        }

        .head_name {
            border-top: 0.05em solid white;
            font-size: 4vw;
            margin: 3vw 0;
            margin-bottom: 2.25em;
            padding: 0 2em;
            opacity: 0.85;
            color: #6a6aa0;
            //6a6aa0
        }

        .head_navigation {
            display: flex;
        }

        @media (max-width: $small) {
            .head_navigation {
                flex-direction: column;
            }
        }
    }
}

.sub_section {
    overflow: hidden !important;
    min-height: 100vh;
    padding-top: 7.5vh;

    .title {
        font-size: 3.5vw;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    @media (max-width: $tiny) {
        .title {
            font-size: 2em;
        }
    }
}

@media (max-width: $tiny) {
    .title {
        font-size: 2em;
    }
}

.about {
    position: relative;
    background: linear-gradient(0deg, $bg-light 65%, rgba(0, 0, 0, 0) 100%);
    z-index: 10;

    .slide {
        position: absolute;
        width: 175%;
        height: 175%;
        opacity: 0.7;
    }

    .slide_bar {
        opacity: 0.7;
        position: absolute;
        width: 175%;
        height: 175%;
        z-index: 0;
        filter: drop-shadow(0 0 1em #000022)
    }

    .left {
        background: $dark;
        transform: translateX(-50vw) translateY(45vh) rotate(25deg);
    }

    .right {
        background: $bg-dark;
        right: 0;
        transform: translateX(100vw) rotate(-35deg);

    }

    @media (max-width: $normal) {
        .right {
            transform: translateX(100vw) translateY(45vh) rotate(-35deg);
        }
    }

    @media (max-width: $small) {
        .left {
            transform: translateX(-70vw) translateY(90vh) rotate(25deg);
        }

        .right {
            transform: translateX(115vw) translateY(85vh) rotate(-35deg);
        }
    }

    @media (max-width: $tiny) {
        .left {
            transform: translateX(-100vw) translateY(70vh) rotate(25deg);
        }

        .right {
            transform: translateX(135vw) translateY(65vh) rotate(-35deg);
        }
    }

    @media (max-width: $phone) {
        .left {
            transform: translateX(-100vw) translateY(60vh) rotate(25deg);
        }

        .right {
            transform: translateX(135vw) translateY(65vh) rotate(-35deg);
        }
    }

    .information {
        z-index: 10;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 7.5vh;
        gap: 5vw;

        .info_left {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 50vw;

            .picture {
                width: 22.5vw;
                max-width: 25em;
                transition-duration: 0.75s;
            }

            .description {
                max-width: 25vw;
                margin-top: 5vh;
                font-size: 1.25em;
                text-align: center;
                filter: drop-shadow(2.5em 2.5em 1em #000022);
            }

            @media (max-width: $small) {
                .picture {
                    width: 55vw;
                    max-width: 20em;
                    transition-duration: 0.75s;
                }

                .description {
                    max-width: 60vw;
                }
            }

            @media (max-width: $tiny) {

                .picture {
                    width: 65vw;
                    transition-duration: 0.75s;
                }

                .description {
                    max-width: 90vw;
                }
            }
        }

        .info_right {
            max-width: 50vw;
            margin: auto 0;

            .skill_bar {
                display: grid;
                grid-template-rows: auto;
                grid-template-columns: auto 24em;
                background: $bg;
                margin: 1em 0;
                box-shadow: 0 0.25rem 0.25rem $dark;
                border: 3px solid $bg;

                .skill_title {
                    background: $bg-dark;
                    padding: 0.35em;
                    text-align: center;
                    padding: 0.5em 1em;
                    font-weight: bold;
                }

                .skill_progress {
                    text-align: left;
                    background: $light;
                    padding: 0.35em 0;
                    width: 0;
                }
            }
        }

        @media (max-width: $small) {
            .info_left {
                max-width: 80vw;
            }

            .info_right {
                max-width: 90vw;
            }
        }

        @media (max-width: $tiny) {
            .info_right {
                display: none;
            }
        }
    }

    @media (max-width: $small) {
        .information {
            flex-direction: column;
            align-items: center;
            padding-bottom: 5em;
        }
    }
}

.projects {
    background-color: $bg;
    z-index: 10;
    position: relative;
    filter: drop-shadow(0 0 1em #000022);

    .project_cards {
        width: 100%;
        padding: 5em 0 10em 0;
        display: flex;
        flex-direction: column;
        gap: 2.5em;

        .cards_row {
            display: flex;
            justify-content: center;
            gap: 2.5em;

            .card {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                color: white;
                width: 15vw;
                height: 15vw;
                box-shadow: 0 0 1em $dark;
                transition-duration: 0.5s;
                cursor: pointer;

                .card_picture {
                    width: 15vw;
                    height: 15vw;
                    object-fit: cover;
                    // filter: blur(0.15em);
                    opacity: 1;
                }

                /* common */
                .project_title {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    overflow: hidden;
                    z-index: 1;
                    padding: 12px 0;
                    transition-duration: 0.5s;
                    background: $dark;
                }

                span {
                    position: relative;
                    z-index: 1;
                    font-family: sans-serif;
                    font-size: 1.25em;
                    padding-left: 1em;
                }

            }

            .card:hover {
                transform: scale(1.1);

                .card_picture {
                    filter: blur(0.1em);
                    transition-duration: 0.5s;
                }

                /* common */
                .project_title {
                    margin: auto auto;
                }

                span {
                    position: relative;
                    z-index: 1;
                    font-family: sans-serif;
                    font-size: 1.25em;
                    padding-left: 1em;
                }
            }
        }
    }
}

.contact {
    background: $bg-dark;
    position: relative;
    z-index: 10;
    box-shadow: 0 0 1em $dark;

    .contact_container {
        padding: 5em 0 10em 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5vw;

        .contact_bars {
            width: 25vw;
            display: flex;
            flex-direction: column;
            gap: 5vh;

            .contact_bar {
                background: $light;
                display: flex;
                width: 100%;
                text-decoration: none;
                box-shadow: 0 0.5em 1em $light;

                .contact_bar_icon {
                    background: white;
                    padding: 1em;
                    width: 2.5em;
                }

                .contact_bar_title {
                    display: flex;
                    align-items: center;
                    color: white;
                    padding: 0 1em;
                    font-size: 1.5em;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }


                @media (max-width: $medium) {
                    .contact_bar_title {
                        font-size: 1.25em;
                    }

                    .contact_bar_icon {
                        width: 2em;
                        height: 2em;
                    }
                }

                @media (max-width: $small) {
                    .contact_bar_title {
                        justify-content: center;
                        width: 100%;
                        font-size: 1.5em;
                    }

                    .contact_bar_icon {
                        width: 1.5em;
                        height: 1.5em;
                    }
                }

                @media (max-width: $tiny) {
                    .contact_bar_title {
                        font-size: 1em;
                    }
                }

                @media (max-width: $phone) {
                    .contact_bar_title {
                        font-size: 1em;
                    }

                    .contact_bar_icon {
                        width: 1.25em;
                        height: 1.25em;
                    }
                }
            }
        }

        .mailer_form {
            background-color: $dark;
            width: 25vw;
            padding: 1em 2em 1em 2em;

            .mailer_title {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0.5em 0;
                font-size: 2.5em;
                border-bottom: 2px $bg-light solid;
            }

            .text_box {
                width: 100%;
                color: $light;
                background: #000022;
                border: 0;
                border-bottom: 2px $bg-light solid;
                outline: none !important;
                padding: 0.5em 0.25em;
                margin: 1em 0;
                font-size: 1.5em;
            }

            :focus {
                border-bottom: 2px $light solid;
                -webkit-box-shadow: 0 8px 8px -8px $light;
                -moz-box-shadow: 0 8px 8px -8px $light;
                box-shadow: 0 8px 8px -8px $light;
            }

            .text_area {
                font-family: "Roboto", sans-serif;
                width: 100%;
                height: 25vh;
                color: $light;
                background: #000022;
                border: 0;
                border-bottom: 2px $bg-light solid;
                outline: none !important;
                padding: 0.5em 0.25em;
                margin: 1em 0;
                font-size: 1.5em;
                resize: none;
            }

            :focus {

                border-bottom: 2px $light solid;
                -webkit-box-shadow: 0 8px 8px -8px $light;
                -moz-box-shadow: 0 8px 8px -8px $light;
                box-shadow: 0 8px 8px -8px $light;
            }

            ::placeholder {
                font-size: 1em;
                color: $bg-light;
            }


            .mailer_bottom {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .send {
                    color: white;
                    text-decoration: none;
                    font-weight: bold;
                    background: transparent;
                    border: 3px $light solid;
                    padding: 1em 3em;
                    transition-duration: 0.5s;
                    box-shadow: 0 0.25rem 0.5rem $bg-dark;
                    cursor: pointer;
                }

                :hover {
                    transform: translateY(-.3rem);
                    background-color: rgba(106, 106, 160, .25);
                    border: 3px #434374 solid;
                }

                :active {
                    transition-duration: 0.1s !important;
                    transform: translateY(-.1rem);
                    box-shadow: 0 0.25rem 0.75rem $dark;
                }
            }



            @media (max-width: $medium) {
                .mailer_title {
                    font-size: 1.5em;
                }

                .text_box {
                    font-size: 1.25em;
                }

                .text_area {
                    font-size: 1.25em;
                }
            }
        }

        @media (max-width: $small) {
            .mailer_form {
                width: 60vw;
            }

            .contact_bars {
                width: 60vw;
            }
        }

        @media (max-width: $phone) {
            .contact_bars {
                gap: 2.5em;
                margin-bottom: 2.5em;
            }
        }
    }

    @media (max-width: $small) {
        .contact_container {
            flex-direction: column;
        }
    }

    @media (max-width: $phone) {
        .contact_container {
            padding-bottom: 5em;
        }
    }
}

.project_page {
    min-height: 95vh;
    background: $bg;

    .top {
        display: flex;
        justify-content: left;

        .back {
            transition-duration: 0.25s;
            transform: rotate(-90deg);
            margin: 2em 1em;
            font-weight: bold;
            font-size: 1.5em;
            background: $light;
            padding: 0.75em 1em;
            opacity: 0.85;
            cursor: pointer;
            line-height: 1em;
        }

        .back:hover {
            opacity: 1;
            transform: rotate(0deg) translateX(1em);
        }

        .back:hover+.title {
            transform: translateX(0.25em);
            opacity: 0.65;
        }

        .title {
            transition-duration: 0.5s;
            width: 100vw;
            font-size: 5em;
            padding: 0.25em;
            transform: translateX(-0.5em)
        }
    }

    .info {
        display: flex;
        justify-content: center;
        gap: 5vw;

        .left {
            width: 45vw;
        }

        .right {
            width: 45vw;
            filter: drop-shadow(0 0 1em #000022);

            .image_container {
                max-height: 75vh;
                overflow-x: hidden;
                overflow-y: scroll;
                display: flex;
                flex-direction: column;

                .info_image {
                    max-width: 50vw;
                    margin: 1em 0;
                }
            }
        }
    }
}

.footer {
    text-align: center;
    color: $light;
    background: $dark;
    height: 5vh;
    line-height: 5vh;
    text-align: center;
    font-weight: bold;
}

.not_found {
    position: relative;
    height: 100vh;
    width: 100vw;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title {
        font-weight: bold;
        font-size: 3vw;
    }

    .description {
        font-size: 1vw;
        color: $light;
    }

    .home_btn {
        margin-top: 2.5em;
    }
}